// pages

body,
#app {
  height: 100%;
  width: 100%;
  margin: 0;
}

#app {
    padding: 24px;
    color: #FFFFFF;
    font-size: 16px;
}

@font-face {
  font-family: Inter;
  src: url('~@@/fonts/Inter.ttf') format('font-truetype');
}

// buttons

.button-secondary {
    /* light/surface */
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;

    color: #FFFFFF;
    background: black;
}

.button-link {
    color: #FFFFFF;
}

button:disabled {
  opacity: 44%;
}

a {
  color: #4EF2E4;
}